{% extends 'baseBack.html.twig' %}

{% block body %}
    <h1>Create new Livraison</h1>

    {{ include('livraison/_form.html.twig') }}

    <a href="{{ path('app_livraison_index') }}">back to list</a>
<<<<<<< HEAD
{% endblock %}
=======
{% endblock %}
>>>>>>> 8e2d5ae6251d16e7cfd86071e560d1d445a48627
