{% extends 'baseBack.html.twig' %}

{% block title %}New Feedbackp{% endblock %}

{% block body %}
    <h1>Create new Feedbackp</h1>

    {{ include('feedbackp/_form.html.twig') }}

    <a href="{{ path('app_feedbackp_index') }}">back to list</a>
{% endblock %}
