<form method="post" action="{{ path('app_pointderelais_front_delete', {'idPointderelais': pointderelai.idPointderelais}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pointderelai.idPointderelais) }}">
    <button class="btn">Delete</button>
</form>