{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create new Pointderelais</h1>

    {{ include('pointderelais_front/_form.html.twig') }}

    <a href="{{ path('app_pointderelais_front_index') }}">back to list</a>
{% endblock %}
